@model IEnumerable<Couvre_Plancher.Models.CouvrePlanche>
@{
    Layout = "_Layout_"; 
}


<section class="py-5 sections product-list-body">

    <div class="container">
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Commandes </h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Date</th>
                            <th>Satus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p> 12849</p> 
                            </td>
                            <td>
                                10-02-2023
                            </td>
                            <td>
                                <span class="status completed">Validée</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> 12849</p> 
                            </td>
                            <td>
                                10-02-2023
                            </td>
                            <td>
                                <span class="status completed">Validée</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> 12849</p>
                            </td>
                            <td>
                                10-02-2023
                            </td>
                            <td>
                                <span class="status completed">Validée</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>



